/* #share style */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}
   .color-orange{
    color: #FD6E0A;
  }
  .btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight:bold ;
    color: white;
    cursor: pointer;

  }
  .section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
  }
   .section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;

   }
    .section-heading p{
        font-size: 18px;
        margin-bottom:30px;
        line-height: 30px;
        color: #757575;
    }
    .text-center{
        text-align: center;
    }
  /* #Main Style */
  header{
    background-color: #FFF8F3;
    background: url(./images/developer.png), url(./images/header_bg.png)#FFF8F3;
    background-position:top left,bottom right;
    background-repeat:no-repeat;
    padding-top: 50px;

  }
 
  .logo h2{
    font-size: 45px;
    font-weight: 900;
   
  }
  nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
}

.logo{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
nav .menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;

}



#banner{
      /* border: 1px solid red;   */
     margin: 47px 38px 0 230px;
     display: flex;
     align-items: center; 
     justify-content: space-between;
    
    
}
#banner .banner-content {
    max-width: 585px;
}
#banner .banner-content h2{

    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;

}
#banner .banner-content h1{

    font-size: 85px;
    color: #181818;
    font-weight:bold;
    margin-bottom: 20px;

}
#banner .banner-content p{
    font-size: 18px;
    color:# 757575;
    line-height : 30px;
    margin-bottom: 30px;

}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;


}
#about ,#skills,#resume{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;

}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    padding: ;
}
 .about-info .info-card p{
     font-size: 20px;
        line-height: 30px;
        color: #757575;
  }
  

#skils .skils-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 157px;
}
#skils .card-box {
    display: flex;
    gap: 24px;
}

.card-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000030;
    max-width: 247px;

}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
        line-height: 28px;
        color: #757575;

}
#resume .resume-container{
     width: 71%;
    max-width: 1140px;
    margin: 130px auto 0;
    display: flex;
    gap: 24px;

}
.resume-container hr{
    margin: 30px 0;
}
.resume-container .section-title{
    counter-reset: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom:10px ;
    color: #474747;


}
.resume-card .card-info{
    font-size: 20px;
    font-weight:600 ;
    margin-bottom:20px ;
    color: #757575;


}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;


}







  
